
@font-face {
    font-family: 'nunitoblack';
    src: url('nunito-black-webfont.woff2') format('woff2'),
         url('nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitobold';
    src: url('nunito-bold-webfont.woff2') format('woff2'),
         url('nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoextrabold';
    src: url('nunito-extrabold-webfont.woff2') format('woff2'),
         url('nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoextralight';
    src: url('nunito-extralight-webfont.woff2') format('woff2'),
         url('nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitolight';
    src: url('nunito-light-webfont.woff2') format('woff2'),
         url('nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoregular';
    src: url('nunito-regular-webfont.woff2') format('woff2'),
         url('nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitosemibold';
    src: url('nunito-semibold-webfont.woff2') format('woff2'),
         url('nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack';
    src: url('raleway-black-webfont.woff2') format('woff2'),
         url('raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('raleway-extrabold-webfont.woff2') format('woff2'),
         url('raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'),
         url('raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.woff2') format('woff2'),
         url('raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}